<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ibm.bluelist"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="21" />

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.ibm.bluelist.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <android:uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:name=".BlueListApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- Push Settings Start -->
            <!-- Notification Intent -->
            <intent-filter>
                <action android:name="com.ibm.bluelist.IBMPushNotification" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- Push Settings End -->
        </activity>
        <activity
            android:name=".EditActivity"
            android:label="@string/title_activity_edit" >
        </activity>
        <activity
            android:name=".TopicActivity"
            android:label="@string/title_activity_topic"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ibm.bluelist.MainActivity" />
        </activity>
        <activity
            android:name=".BPAddActivity"
            android:label="@string/title_activity_bpadd"
            android:parentActivityName=".TopicActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ibm.bluelist.TopicActivity" />
        </activity>
        <activity
            android:name=".BPActivity"
            android:label="@string/title_activity_bp"
            android:parentActivityName=".TopicActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ibm.bluelist.TopicActivity" />
        </activity>

        <!-- Add GCM Intent Service and intent-filters for RECEIVE and REGISTRATION of notifications -->
        <service android:name="com.ibm.mobile.services.push.IBMPushIntentService" />

        <receiver
            android:name="com.ibm.mobile.services.push.IBMPushBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.ibm.mobile.push.sdk.client.android.sample" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.ibm.mobile.push.sdk.client.android.sample" />
            </intent-filter>
        </receiver>

        <!-- Push Settings End -->

    </application>

</manifest>
